{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "semi": "off",
    "linebreak-style":"off",
    "arrow-parens":"off",
    "require-jsdoc": "off",
    "operator-linebreak":"off",
    "no-debugger":"off",
    "no-invalid-this":"off"
  },
  "extends": ["eslint:recommended", "google"]
}